@import './src/styles/mixins/media';

.productList__item{
	background: #22242A;
	border-radius: 8px;
	padding: 24px;

	&:not(:last-child){
		margin-bottom: 8px;
	}

	@include media-desctop{
		padding: 32px;
		&:not(:last-child){
			margin-bottom: 16px;
		}
	}


	&:hover,
	&:focus{
		background: #393C46;
	}
}
.productList__title{
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;

	margin: 0 0 16px 0;
	padding: 0;
}
.productList__flex{

	@include media-tablet{
		display: flex;
		justify-content: space-between;

		width: 95%;
	}

	@include media-desctop{
		width: 85%;
	}

}
.productList__types{
	display: flex;
	align-items: center;

	&:not(:last-child){
		margin-bottom: 16px;
	}

	@include media-tablet{
		width: 50%;
		margin-bottom: 0;
		&:not(:last-child){
			margin-bottom: 0;
		}

		&:last-child{
			margin-left: 40px;
		}
	}
}
.productList__name{
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #818798;
	width: 100px;

	margin: 0;
	padding: 0;

	@include media-tablet{
		width: auto;
		&:not(:last-child){
			margin-right: 20px;
		}
	}

	@include media-desctop{
		&:not(:last-child){
			margin-right: 30px;
		}
	}
}
.productList__text{
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #F2F2F2;

	margin: 0;
	padding: 0;
}